.add-skill-btn {
  padding-top: 15px;
  padding-bottom: 60px; /* Hack that ensures the add skill drop-down is visible when the button is at the bottom of the matrix  */
}

.questions-list__row {
  margin-bottom: 15px;
}

.skill-details__action-btn--right {
  float: right !important;
}